*
!.gitignore
!Cargo.toml
!Cargo.lock
!flake.nix
!flake.lock
!klymene_tty/
!klymene_tty/**/
!klymene_tty/**/*.rs
!klymene_tty/Cargo.{toml,lock}
!klymene_srv/
!klymene_srv/**/
!klymene_srv/**/*.rs
!klymene_srv/Cargo.{toml,lock}
